<!-- sobre.html -->

<div ng-controller="homeCtrl as vm" layout="column" layout-fill>
    

    <div class="page-header" align="center">
    <h3>Para acessar a página "Restrito", use as seguintes credenciais:</h3>
    </div>


    
    <table border="1" width=40% align='center'>
 
        
        <tr align="center">
            <td> E-mail </td>
            <td> Senha </td>
        </tr>
        

        <tr ng-repeat="x in vm.credentials" align="center">
            <td>{{x.email}}</td>
            <td>{{x.senha}}</td>
        </tr>
            
        </table>
    
    
    
    
    
</div>