<!-- nav_bar.html -->


<div ng-controller="nav_barCtrl as vm" ng-cloak>
  <md-content class="md-padding">
      
    <md-nav-bar  class="navbar navbar-default navbar-fixed-top" md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
        
      
        
      <md-nav-item md-nav-href="#!/home" name="home"> HOME </md-nav-item>
        
      <md-nav-item md-nav-href="#!/login" name="login"> LOGIN </md-nav-item>
        
      <md-nav-item md-nav-href="#!/restrito" name="restrito"> RESTRITO </md-nav-item>
            
        
        
        
        
        
        
        
        
        
        
        
        
        
    </md-nav-bar>
    
  </md-content>
</div>